
@import url(../../bootstrap-5.0.2/css/bootstrap.min.css);
.navbar{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 30%, rgba(0,0,0,0)100%);
}

.navbar-header{
    width: 64px;
    height: auto;
    margin-left: 16%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.carousel-item{
    background-color: #777;
    height: 32rem;
    color: white;
    position: relative;

}

/* .container-carousel{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: 50px;
} */

h1{
    background-color: var(--bs-white);
}

p{
    color: var(--bs-white);
}